.home-bg {
    background-color: rgb(255, 255, 255) !important;
}

.home-padding {
    padding: 2rem;
}

.home-text {
    color: rgb(0, 0, 0) !important;
    text-align: center;
    font-size: 2rem;
    font-weight: bold !important;
}