.contador-text {
    color: white !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem !important;
    margin-left: 2rem !important;
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
}

.contador-margin {
    margin-bottom: 2rem !important;
}

.contador-spacing {
    margin-left: 50rem !important;
    color: white !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem !important;
    margin-top: 0.5rem;
}