.custom-footer {
    background-color: #004D8E;
    color: white;
  }
  
.text-footer { 
    color: white !important;
}


.link-footer {
    text-decoration: none !important;
}

.link-footer:hover {
    color: orange !important;
    text-decoration: none !important;
}